// utility

.left {
  text-align: left;
  float: left;
}

.right {
  text-align: right;
  float: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

.wrapper {

}

article {
  p:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }
}

.row {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 100%;
  max-width: $site-max-width;
}

.modular {
  .row {

  }
}

.default-animation {
	@include transition(all 0.5s ease);
}

.padding-horiz {
	padding-left: $padding-horiz;
	padding-right: $padding-horiz;
	@include for-big-desktop-up {
		padding-left: $padding-horiz - 3rem;
		padding-right: $padding-horiz - 3rem;
	}

	@include for-phone-only {
		padding-left: $padding-horiz - 6rem;
		padding-right: $padding-horiz - 6rem;
	}
}

.padding-vert {
	padding-top: $padding-vert;
	padding-bottom: $padding-vert;
}

.hide {
  display: none;
  visibility: hidden;
}

// ------------------------
.mobile-menu {
  display: none;
}

.main-nav {
  height: 50px;

  a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
  }

  ul {
    display: block;
    position: relative;
    float: right;
    list-style: none;
    margin: 8px 0 0 0;
    padding: 3px 0 0 0;
    
    li {
      position: relative;
      color: #fff;
      display: block;
      float: left;
      text-decoration: none;
      transition-duration: 0.5s;
  
      a {
        padding: 6px 30px;
        border-radius: 6px;
        color: #fff;
        font-family: $font-stack-serif;
        font-weight: 700;
        font-size: 1.4em;
        letter-spacing: 1px;
        text-decoration: none;
      }
      
      .fa-angle-down {
        position: absolute;
        top: 6px;
        right: 12px;
      }

      &:hover,
      &:focus-within {
        a {
          background: rgba(50,50,50,.2);
          border-radius: 6px;
          color: $accent-color;
          outline: none;
        }
        cursor: pointer;
      }

      &.current-menu-item {
        a {
          background: rgba(50,50,50,.2);
          color: $accent-color;
        }
      }
  
      .sub-menu {    
        position: absolute;
        display: none;
        left: 0;
        top: 32px;
        margin: 0;
        padding: 10px;
        min-width: 12rem;
        background: rgba(50,50,50,.8);
        border-radius: 6px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;

        li {
          clear: both;
          width: 100%;
          padding: 4px 0;

          a {
            padding: 0 20px;
            color: #fff !important;
            cursor: pointer;
            background: none;

            &:hover {
              color: $accent-color !important;
            }
          }

          .fa-angle-down {
            display: none !important;
          }

          .sub-menu {
            display: none !important;
          }
        }
      }
    }
    
    li:hover > ul,
    li:focus-within > ul,
    li ul:hover,
    li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
      transition: all 0.5s ease;

      a {
        background: none;
      }
    }
  }
}
@include for-tablet-landscape-down {
  .site-header {
    .logo h3 {
      font-size: 1.4em;
      a { top: 15px !important; }
    }
    .col-8 {
      margin-right: 0 !important;
      ul {
        li {
          a {
            padding: 6px 25px;
            border-radius: 4px;
            font-size: 1.2em;
            letter-spacing: .5px;
          }
        }
      }
    }
  }
}

@include mobile-menu-toggle {
  .site-header {
    .mobile-menu {
      @include clean-block;
      @include transition( all .3s ease-out );

      display: block;
      position: absolute;
      top: 0;
      right: -15px;
      width: 75px;
      height: 75px;
      color: #fff;
      font-size: 2.5em;
      .fas {
        display: block;
        position: absolute;
        top: 15px;
        left: 0;
        width: 50px;
        height: 50px;
      }
      &:hover {
        color: $accent-color;
        text-shadow: #000 0 0 10px;
        @include transition( all .3s ease-out );
      }
      &.closed {
        .fa-bars { opacity: 1;}
        .fa-times { opacity: 0; }
        @include transition( all .3s ease-out );
      }
      .fa-bars { opacity: 0;}
      .fa-times { 
        opacity: 1;
      }
    }
    .main-nav {
      @include transition( all .3s ease-out );

      position: absolute;
      top: 67px;
      right: -225px;
      margin: 0;
      padding: 0;
      width: 200px;
      height: 80vh;
      max-height: 360px;
      background: darken(rgba($primary-color,.9), 25%);
      border-radius: 0 0 0 8px;
      opacity: 0;
      z-index: 1000 !important;

      li:hover, li.current-menu-item {
        a { background: none; }
      }
      ul li {
        .sub-menu {
          display: block;
          position: relative;
          top: 0;
          margin: 0;
          padding: 0;
          min-width: 13rem;
          visibility: visible;
          opacity: 1;
          background: none;

          a { font-size: 1.4em; }
        }
        a { font-size: 1.4em; }
      }
      &.mobile-open {
        @include transition( all .3s ease-out );

        right: 0;
        opacity: 1;
      }
      .fa-angle-down {
        display: none !important;
      }
    }
  }
}

// ------------------------
// NAVIGATION LINKS
.back-link {
  position: relative;
  font-size: 1.4em;
  font-weight: 700;

  .fas {
    margin: 0 5px 0 0;
  }
}
