.site-header {
	position: relative;
	z-index: 10;
	width: 100%;
	height: $header-height;
	background-color: rgba($primary-color-dark,0.90);
  box-shadow: 0 0.05rem 1rem rgba(0,0,0, 0.15);
  border-bottom: 4px solid #000;

  .row {
    margin: 0 auto;
    padding: 0;
  }
  .logo {
    position: relative;
    @include clean-block;

    .site-name {
      position: relative;
      width: 350px;
      margin: 4px 0 0 0;
      padding: 0;

      a {
        position: absolute;
        top: 10px;
        left: 75px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

#body {
  article > h2:first-of-type {
    margin-top: 0;
  }

  section > h2:first-of-type {
    margin-top: 0;
  }

  .page-header {
    position: relative;
    .page-title {
      margin: 0;
      padding: 0 2%;
    }
  }

  &.drop-caps {
    article {
      p:first-of-type:first-letter {
        color: #903;
        float: left;
        font-family: Georgia;
        font-size: 95px;
        line-height: 65px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
      }
    }
  }

  #hero-slider {
    position: relative;
    .slide-title {
      position: absolute;
      top: 15%;
      left: 8%;
      color: #fff;
      font-size: 3.6vw;
      text-shadow: rgba(0,0,0,.2) 3px 3px 10px;

      &.black {
        color: #000;
        text-shadow: rgba(255,255,255,.6) 3px 3px 10px;
      }
      &.white {
        color: #fff;
        text-shadow: rgba(0,0,0,.2) 3px 3px 10px;
      }
      &.primary {
        color: $primary-color;
        text-shadow: rgba(0,0,0,.2) 3px 3px 10px;
      }
      &.accent {
        color: $accent-color;
        text-shadow: rgba(0,0,0,.2) 3px 3px 10px;
      }
    }
  }

  .showcase {
    position: relative;
    height: 350px !important;
  
    .page-title {
      margin: 0 auto;
      padding: 100px 0 0 0;
      color: #fff;
      font-size: 4em;
      text-shadow: #000 5px 5px 10px;
    }
  
    &.homepage-hero {
      display: block;
      position: relative;
      background: url('/user/pages/01.home/store-front.jpg') no-repeat;
      background-size: cover;
      .tint {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 350px;
        width: 100%;
        background: rgba(0,0,0,.5);
      }
    }

    &.about-hero {
      display: block;
      position: relative;
      height: 350px !important;
      background-image: no-repeat;
      background-size: cover;
      .tint {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 350px;
        width: 100%;
        background: rgba(0,0,0,.5);
      }
    }
  }
}

// ----------------------
// INVENTORY

.inventory {
  @include flexy-bits(flex, row wrap, space-around);

  margin: 0 auto 80px auto;
  
  &.main {
    justify-content: flex-start;
    .category {
      position: relative;
      flex: 1 1 auto;
      height: 200px;
      width: 30%;
      max-width: 300px;
      margin: 0 1% 20px 1%;
      border-radius: 8px;
      overflow: hidden;
      background: $site-black;
      @include transition( all .3s ease-out );

      .info {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 65px;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);  

        @include for-tablet-landscape-down { height: 55px; }
        @include mobile-menu-toggle { height: 42px; }

        .title {
          padding: 10px 0 0 20px;
          margin: 0;
          font-size: 2.2em;
          line-height: 1.6em;
          color: #fff;
          
          @include for-tablet-landscape-down {
            font-size: 1.9em;
            line-height: 1.4em;
          }

          @include mobile-menu-toggle {
            font-size: 1.5em;
            line-height: 1em;
          }

          @include for-phone-only {
            font-size: 1.3em;
            line-height: 1em;
          }
          @include transition( all .1s ease-out );
        }
      }
      img {
        @include transition( all .3s ease-out );
        opacity: .6;
      }
      &:hover {
        @include scale(1.03);
        img {
          opacity: .9;
          @include scale(1.2);
          @include transition( all .3s ease-out );
        }
        @include transition( all .3s ease-out );
        .title {
          color: $accent-color;
          @include transition( all .1s ease-out );
        }
        box-shadow: 0 0 15px rgba(0,0,0,.5);
        @include transition( all .3s ease-out );
      }
    }
  }
}

.main-inventory {
  .drop-caps {
    article {
      p:first-of-type:first-letter {
        color: inherit !important;
        float: none !important;
        font-family: inherit !important;
        font-size: inherit !important;
        line-height:inherit !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}
.inventory-list {
  margin: 30px 20px;
  padding: 0;

  ul {
    @include clean-block;
    @include flexy-bits(flex, row wrap, space-around);
    justify-content: flex-start;

    li {
      position: relative;
      flex: 0 0 16%;
      min-width: 150px;
      height: 182px;
      margin: 15px;
      padding: 0;
      border: 4px solid $primary-color;
      border-radius: 6px;
      list-style: none;
      overflow: hidden;
      @include transition( all .3s ease-out );

      .item-title, img, .cond, .desc, .price {
        position: absolute;
        width: 100%;
        margin: 0;
      }
      .item-title {
        top: 0;
        padding: 5px 0 15px 5px;
        font-size: 1.2em;
        background: rgba($primary-color-light,.8);
        background: linear-gradient(180deg, rgba($primary-color-light,.8) 0%, rgba($primary-color-light,.8) 60%, rgba($primary-color-light,0) 100%);
        @include transition( all .3s ease-out );
      }

      img {
        @include transition( all .3s ease-out );

        display: block;
        top: 0;
        opacity: .9;
      }
      .cond {
        top: 120px;
        padding: 3px 0 3px 6px;
        font-size: 1em;
        background: rgba(#fff,.7);
        font-weight: 700;

        span {
          text-transform: uppercase;
          color: $secondary-accent;
        }
      }
      .desc {
        top: 130px;
        font-size: .8em;
      }

      .price {
        position: relative;
        top: 146px;
        padding-left: 12px;
        color: $secondary-accent;
        font-weight: 700;
        background: #fff;
        span {
          position: absolute;
          top: 3px;
          left: 3px;
          color: #000;
          font-weight: normal;
          font-size: .9em;
        }
      }
      p {
        margin: 0;
        padding: 6px;
      }
      &:hover {
        @include scale(1.03);
        border: 4px solid darken($primary-color,15%);
        img {
          @include scale(1.1);
          @include transition( all .3s ease-out );
          opacity: 1;
        }
        @include transition( all .3s ease-out );
        box-shadow: 0 0 15px rgba(0,0,0,.5);
      }
    }
  }
}

// -----------------------
// ABOUT PAGE
.staff-list {
  @include clean-block;
  display: block;

  &.left {
    width: 250px;

    .wrapper {
      padding: 0 20px 10px 10px;
      border-right: 1px solid #ccc;
      border-left: none;

      ul {
        .staffer {
          width: 100%;
        }
      }
    }
  }
  .wrapper {
    margin: 0;
    padding: 0 10px 10px 20px;
    border-left: 1px solid #ccc;

    .section-title {
      margin: 0 0 15px 0;
      color: $primary-color;
    }

    ul {
      @include clean-block;

      .staffer {
        position: relative;
        height: 175px;
        width: 80%;
        margin: 0 0 20px 0;
        border-radius: 8px;
        overflow: hidden;
        background: $site-black;
        @include transition( all .3s ease-out );
  
        .info {
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 75px;
          background: rgb(0,0,0);
          background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);  
          .name {
            font-size: 1.8em;
            color: #fff;
            padding: 10px 0 0 10px;
            margin: 0;
            @include transition( all .1s ease-out );
          }
          .title {
            font-size: 1.2em;
            color: $divider-color;
            padding: 5px 0 0 10px;
            margin: 0;
            @include transition( all .1s ease-out );
          }
        }
        img {
          @include transition( all .3s ease-out );
          opacity: .9;
        }
        &:hover {
          box-shadow: 0 0 20px rgba(0,0,0,.3);
          @include scale(1.03);

          img {
            opacity: 1;

            @include scale(1.2);
            @include transition( all .3s ease-out );
          }
          @include transition( all .3s ease-out );
          .title {
            color: #fff;;
            @include transition( all .1s ease-out );
          }
          .name {
            color: $accent-color;
            @include transition( all .1s ease-out );
          }
        }
      }
    }
  }
}

// ---------------------------
// BIO PAGE
.staff-bio {
  .bio-image {
    display: inline-block;
    position: relative;
    width: 400px;
    border-radius: 6px;
    overflow: hidden;

    &.left {
      margin: 0 20px 10px 0;
      padding: 0;
      float: left;
    }
    &.right {
      margin: 0 0 10px 20px;
      padding: 0;
      float: right;
    }
  }
}

.bio-social {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  @include clean-block;
  
  li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 6px 10px;
    font-size: 2em;
    @include transition( all .1s ease-out );

    a {
      color: rgba(0,0,0,.35);
    }

    &:hover {
      transform: scale(1.6);
      @include transition( all .1s ease-out );

      a {
        color: rgba(0,0,0,.5);
      }
    }
  }
}

// ---------------------------
// CONTACT PAGE

.contact {
  .location-map {
    position: relative;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;

    .page-title {
      margin: 0 auto !important;
      padding-top: 100px !important;
      font-size: 4em;
      text-shadow: #666 5px 5px 10px;
    }
  }
  .location {
    .address-block {
      margin: 0;
      padding: 20px 30px;
      border: 2px solid darken($accent-color,10%);
      border-radius: 8px;
      background: rgba($accent-color,.2);
      li {
        margin: 0;
        padding: 2px;
        list-style: none;
        font-size: 1em;
        font-weight: 700;
        color: darken($secondary-accent,20%);
        line-height: 1em;
        &.name {
          font-size: 1.4em;
          font-weight: 700;
          color: $secondary-accent;
        }
        &:nth-child(4) {
          margin-bottom: 10px;
        }
      }
    }
    .fas {
      margin: 0 5px 0 0;
      color: darken($accent-color,40%);
    }
  }
}

// ------------------------
// Footer styling
.site-footer {
  display: block;
  position: relative;
  height: 200px;
  background: $site-black;

  .socialize {
    margin: 10px auto;
    padding: 0;
    text-align: right;
    .fab {
      @include clean-block;

      font-size: 1.6em;
      color: rgba(#fff,.3);
      @include transition( all .1s ease-out );

      &:hover {
        transform: scale(1.4);
        @include transition( all .1s ease-out );
        color: $accent-color;
      }
    }
    a {
      margin: 0 8px;
    }
  }

  .copyright {
    font-size: .9em;
    color: rgba($light-grey,.6);
    font-weight: 100;
    .fa {
      margin-right: 5px;
    }
  }
}
