{% extends 'partials/base.html.twig' %}

{% block content %}
	<header class="row">
		<h1 class="page-title">{{ page.title}}</h1>
	</header>
	<article class="row">
		{{ page.content }}
	</article>
{% endblock %}
