{% extends 'partials/base.html.twig' %}

{% block content %}
	{% if page.header.showcase.display %}
    {% include 'widgets/showcase.html.twig' %}
  {% else %}
    {% if page.header.carousel %}
      {% include 'widgets/slider.html.twig' %}
    {% else %}
      <header class="row page-header">
        <h1 class="page-title">{{ page.title}}</h1>
      </header>
    {% endif %}
	{% endif %}
	<section class="row">
    <article class="col-12">
		  {{ page.content }}
    </article>
	</section>
{% endblock %}
