<ul id="hero-slider">
  {% for image in page.header.slider %}
    <li>
      <a href="{{ image.anchor }}">
        <img src="{{ image.url }}" alt="{{ image.caption }}">
      </a>
    </li>
  {% endfor %}
</ul>
